p{
    font-size: .95rem;
    padding-bottom: 15px;
}

.table{
    font-size: 16px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    box-sizing: inherit;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    border-radius: 4px;
    max-width: 100%;
    background-color: #FFFFFF;
    color: rgba(0, 0, 0, 0.87);
    width: 100%;
    border-spacing:0;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    display: table;
    border-collapse: collapse;
}

.table tr{
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    display: table-row;
    border: 1px solid #e2e2e2 !important;
}
.table tr th{
    text-align: left !important;
    user-select: none;
    font-size: 0.95rem;
    height: 48px;
    padding: 0 16px;
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    width: 15% !important;
}
.table tr td{
    font-size: 1rem;
    height: 48px;
    padding: 0 16px;
    display: table-cell;
    vertical-align: inherit;
    text-align: left;
    width: 85% !important;
}

.app_sent p{
    font_size: .85rem;
}
.welcome_mail{
    padding: 12px 6px;
}
.welcome_mail p, .password_request p{
    font-size: .85rem !important;
    line-height: 1.6;
}