{% load inlinecss %}
<html>
    <body class="password_request">
        <p>Dear {{ user }},</p>
        <p>You are receiving this email because you requested a password reset for your user account with us at junkies.com.</p>
        <p>Please click on the link below to set a new password. </p>
        <p>{{ frontend }}</p>
        <p>The link will only be valid for 60mins.</p>
        <p>Your username, in case you have forgotten is {{ email }}.</p>
        <p>If you did not make this request, you don't have to do anything.</p>
        <p>Thanks for using Kolabo.</p>
        <p>Yours, the kolabo.com.ng team.</p>
    </body>
</html>