{% load inlinecss %}
{% inlinecss "style.css" %}
<html>
    <body>
        <div class="welcome_mail">
            <p>Dear {{ data.first_name }}, </p>
            <p>Thank you for signing up to Junkies. We are thrilled to have you join our ever growing list of  users.</p>
            <p>At Junkies, our dream is to help you realize your dreams. Wether you are looking for a sponsor for that waoh-project you are working on, or you want to raise some funds for that quick health emergency, or you want sponsors for a community project, we have worked really hard to put together the tools you will be needing here on junkies.com.</p>
            <p>We hope you have a rewarding and fulfilling experience with us. </p>
            <p>Cheers....Steve</p>
            <p>www.junkies.com</p>
        </div>
    </body>
</html>
{% endinlinecss %}